@tailwind base;
@tailwind components;
@tailwind utilities;
  

@keyframes highlight {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.passwordMismatch {
  animation: highlight 1s ease-in-out;
  border: 1px solid red;
}
